/* THEMES */

:root {
	/* INDEX PAGE */
	--header: ;
	--sidebar: #1c1f23;
	--sidebar-link: #35bcfffd;
	--main: ;
	--card: #fafafa;

	/* OTHERS */
	--bg: #fafafa;
	--bg-gradient: linear-gradient(to right, #c0c0c0, #eeeeee);
	--border: #c0c0c0;
	--text: #202020;
	--header-text: #000000;
	--secondary: #0000aa;
	--button: #0000aa;
	--tertiary: #00aa00;
	--highlight: rgba(255, 255, 0, 0.25);
	--error: red;
	--table: #b8b8b8;
}

[data-theme="dark"] {
	/* INDEX PAGE */
	--header: ;
	--sidebar: rgb(10, 11, 12);
	--sidebar-link: #00aaff;
	--main: ;
	--card: #383131;

	/* OTHERS */
	--bg: #000000;
	--bg-gradient: linear-gradient(to right, #0c0c0c, #272727);
	--border: #2a2a2a;
	--text: #dddddd;
	--header-text: #ffffff;
	--secondary: #00aaff;
	--button: #0000ad;
	--tertiary: #44cc44;
	--error: rgb(255, 83, 83);
	--table: #5e5e5e;
}

body {
	background: var(--bg-gradient);
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--header-text);
}

p,
label {
	color: var(--text);
}

a {
	color: var(--secondary);
}

/* OTHERS */

@import url("https://fonts.googleapis.com/css?family=Inter");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Remove for now
body.loaded * {
	transition: color 0.3s, background-color 0.3s, border-color 0.3s;
} */

/* TABLES */

table {
	border: 1px solid var(--table);
	border-spacing: 0;
	border-radius: 10px;
	border-collapse: separate;
	text-align: center;
	overflow: hidden;
}

th,
td {
	text-align: left;
	padding: 10px;
}

th {
	font-weight: 500;
	background-color: var(--border);
	color: var(--header-text);
}

td {
	color: var(--text);
}

/* BUTTONS */

button,
.login,
.register {
	padding: 12px;
	background-color: var(--button);
	border-radius: 6px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

button:hover,
button.login:hover,
button.register:hover {
	background-color: var(--tertiary);
}

a:hover {
	color: var(--tertiary);
}

button#theme-toggle {
	background: none;
	border: none;
	font-size: 20px;
}

/* TEXT */

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

p {
	font-size: 14.5px;
	text-align: center;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: var(--secondary);
}

a:hover {
	text-decoration: underline;
}

p.error,
p.error-general,
span {
	margin-bottom: 20px;
	text-align: left;
	color: var(--error);
}

p.error-general {
	text-align: center;
}
