body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background-color: antiquewhite;
	border-radius: 5px;
}

.topnav {
	display: flex;
	justify-content: space-between;
	background-color: lightgreen;
	align-items: center;
}

.nav-left,
.nav-right {
	display: flex;
	margin: 0.5rem;
}

p.title {
	margin: auto;
	font-size: x-large;
	font-weight: 900;
}

a.button-add {
	margin-left: 1rem;
}

input#search {
	width: 10vw;
}

/* TABLE */
section.body {
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	margin: 1rem;
	border-collapse: collapse;
}

table,
td,
th {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: palegoldenrod;
}

td.year {
	text-align: center;
}

a.button-edit button {
	color: yellowgreen;
}

a.button-delete button {
	color: red;
}
