# Hide file list
Options -Indexes
# Set index page
DirectoryIndex app/Router.php

# Rules
RewriteEngine On
# RewriteBase /theonary/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ app/Router.php [QSA,L]