/* DEDICATED STYLE RULE FILES RULE! */
@import url("animations.css");
@import url("buttons.css");
@import url("cards.css");
@import url("fonts.css");
@import url("links.css");
@import url("modals.css");
@import url("partials.css");
@import url("tables.css");
@import url("text.css");
@import url("themes.css");

/* THE EVERYTHING RULE */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* INPUTS */

input:hover,
select:hover {
	cursor: pointer;
}

a i {
	color: inherit;
	margin-right: 5px;
}

i:hover {
	cursor: pointer;
}