@media (max-width: 800px) {

	form .row,
	.modal .row {
		display: flex;
		flex-direction: column;
		gap: unset !important;
	}

	.modal .row.header {
		flex-direction: unset;
	}
}

@media (max-width:700px) {
	.chart.row {
		display: flex;
		flex-direction: column;
	}
}