/* BUTTONS */

button i {
	color: inherit;
}

button,
.login,
.register {
	padding: 12px;
	background-color: var(--button);
	border-radius: 6px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	font-size: 0.9rem;
}

button:hover,
button.login:hover,
button.register:hover {
	background-color: color-mix(in srgb, var(--button), white 15%)
}

button.danger {
	color: var(--error);
}

button.danger:hover {
	color: color-mix(in srgb, var(--error), white 15%);
}

button#theme-toggle {
	background: none;
	border: none;
	height: fit-content;
}

i.button:hover {
	color: var(--tertiary);
}

/* ACTIONS */

.open-button {
	background: none;
	padding: 0;
	color: var(--secondary);
}

.open-button i {
	color: inherit;
}

/* CARD ACTIONS */
div.card div.actions button.open-button i {
	margin-right: 4px;
}

div.card div.actions button.open-button:hover {
	background: none;
	color: var(--tertiary);
	text-decoration: underline;
}

/* TABLE ROW ACTIONS */


td.actions .open-button:hover {
	background: none;
	color: color-mix(in srgb, var(--secondary), white 30%);
	text-decoration: underline;
}

td.actions button:hover {
	background: none;
	color: color-mix(in srgb, var(--secondary), white 30%);
	text-decoration: underline;
}

button.open-button.danger {
	background: none;
	color: var(--error);
}

button.open-button.danger:hover {
	background: none;
	color: color-mix(in srgb, var(--error), white 30%);
}