.card h3 {
	text-align: center;
	font-size: large;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: var(--card);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card .top {
	display: flex;
	justify-content: space-between;
}

.card .top .right {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 10px;
	padding-bottom: 10px;
}

.card .header {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0.7rem;
}

.card-title {
	color: var(--text);
	font-size: 16px;
	text-align: center;
}

.card-value {
	color: var(--header-text);
	font-size: 28px;
	text-align: center;
	font-weight: 700;
}

.card .row {
	display: flex;
	gap: 15px
}

/* TIME CARD */

#time {
	text-align: center;
}

#time-text {
	margin-bottom: 0;
	font-size: 45px;
}