.card h3 {
	text-align: center;
	font-size: large;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	background-color: var(--card);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card .top {
	display: flex;
	justify-content: space-between;
}

.card .top .right {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.card .header {
	text-align: left;
	margin-top: 0;
	margin-bottom: 1rem;
}