@import url("global.css");

/* body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	"side header"
	"side main";
	} */

.dashboard-container {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	display: grid;
	grid-template-columns: 170px 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"side header"
		"side main";
	width: 100%;
	transition: grid-template-columns 0.3s ease;
}

.dashboard-container.sidebar-hidden {
	grid-template-columns: 0 1fr;
}

.header {
	background-color: var(--bg-gradient);
	grid-area: header;
	display: flex;
	padding: 5px;
	align-items: center;
	gap: 5px;
	justify-content: space-between;
}

.hamburger-lines {
	display: inline;
}

.hamburger-lines .line {
	display: inline;
}

.header .right {
	display: flex;
	align-items: center;
	gap: 12px;
}

.notification-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	position: relative;
}

.notif-popup {
	visibility: hidden;
	width: 160px;
	background-color: var(--bg-gradient);
	color: var(--text);
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	top: 125%;
	margin-left: -80px;
}

.notif-popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.badge {
	position: absolute;
	top: 7px;
	right: 32px;
	background: red;
	color: white;
	padding: 1px 5px;
	border-radius: 50%;
	font-size: small;
	font-weight: bold;
}

.sidebar {
	background-color: var(--sidebar);
	grid-area: side;
	overflow: hidden;
	padding: 10px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 0.3s ease;
}

.sidebar.hidden {
	transform: translateX(-100%);
}

.sidebar .top,
.sidebar .bottom {
	display: flex;
	flex-direction: column;
}

.sidebar a {
	border-radius: 10px;
	width: 100%;
	margin: 3px;
	padding: 10px;
	color: var(--sidebar-link);
}

.sidebar a.active {
	background-color: blue;
}

.sidebar a:hover {
	background-color: color-mix(in srgb, var(--sidebar), white 15%);
	color: var(--tertiary);
}

.sidebar i {
	color: inherit;
}

/* MAIN SECTION */

.main {
	background-color: var(--bg-gradient);
	padding: 10px;
	gap: 15px;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	overflow-x: hidden;
}

.section {
	display: none;
}

.section.active {
	display: flex;
}

.section .row {
	display: flex;
	gap: 15px;
}

.card#welcome {
	flex-direction: row;
	justify-content: space-between;
}

.action {
	display: inline;
}

@media (max-width: 800px) {
	.hamburger-lines {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		width: 25px;
		height: 20px;
		margin: 5px;
	}

	.hamburger-lines .line {
		height: 3px;
		background-color: var(--text);
		border-radius: 2px;
	}

	.dashboard-container {
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr;
		grid-template-areas:
			"header"
			"main";
	}

	.card {
		padding: 20px;
	}

	.sidebar {
		position: fixed;
		left: -250px;
		top: 50px;
		height: calc(100% - 50px);
		width: 250px;
		z-index: 1000;
		transition: left 0.3s ease;
		transform: none;
	}

	.sidebar.active {
		left: 0;
	}

	button {
		margin: 5px 0;
	}
}

#clock {
	font-size: 1.8rem;
	font-family: monospace, "Courier New", Courier;
}

.login {
	margin: 0;
	text-align: center;
}

.register {
	margin: 0;
	text-align: center;
}