@import url("global.css");

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	margin: 0 15px;
}

.form-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 450px;
	margin: 2rem 0;
	padding: 30px;
	background-color: var(--bg);
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.container#top {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

button#theme-toggle {
	width: auto;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

h1 {
	font-weight: bolder;
	font-size: 34px;
	margin-bottom: 20px;
	text-align: center;
}

label {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 12px;
	background-color: var(--border);
	color: var(--text);
	border-radius: 6px;
	border: none;
	outline: none;
	font-size: 16px;
}

select {
	width: 100%;
	padding: 12px;
	background-color: var(--border);
	color: var(--text);
	border-radius: 6px;
	border: none;
	outline: none;
	font-size: 16px;
}

button {
	margin-top: 10px;
}

.login,
.register {
	width: 100%;
	margin-bottom: 20px;
}
