.container {
	margin: 0 15px;
}

div.row.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 15px;
	padding-bottom: 13px;
	border-bottom: 1px solid var(--cross-border);
}

form div.row,
.modal div.row {
	display: flex;
	gap: 15px;
}

div.column {
	width: 100%;
}

button.main {
	width: 100%;
	margin-bottom: 10px;
}