@import url("partials.css");
@import url("themes.css");

@import url("https://fonts.googleapis.com/css?family=Inter");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* CARDS */

.card h3 {
	text-align: center;
	font-size: large;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	/* height: 100%; */
	width: 100%;
	background-color: var(--card);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card .top {
	display: flex;
	justify-content: space-between;
}

.card .header {
	align-self: flex-start;
	text-align: left;
	margin-top: 0;
	margin-bottom: 1rem;
}

/* TABLES */

.table-container {
	overflow-x: auto;
	max-width: 100%;
	height: 450px;
}

table {
	width: 100%;
	border: 1px solid var(--table-border);
	border-spacing: 0;
	border-radius: 10px;
	border-collapse: separate;
	text-align: center;
	font-size: 0.9rem;
	overflow: hidden;
}

tr:nth-child(even) {
	background: var(--table-even);
}

th,
td {
	text-align: left;
	padding: 10px;
	white-space: nowrap;
}

th {
	font-weight: 600;
	background-color: var(--table-header);
	color: var(--header-text);
}

td {
	color: var(--text);
}

/* BUTTONS */

button,
.login,
.register {
	padding: 12px;
	background-color: var(--button);
	border-radius: 6px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	font-size: 0.9rem;
}

button:hover,
button.login:hover,
button.register:hover {
	background-color: color-mix(in srgb, var(--button), white 15%)
}

button.danger {
	background-color: var(--error);
}

button.danger:hover {
	background-color: color-mix(in srgb, var(--error), white 15%);
}

a:hover {
	color: var(--tertiary);
}

button#theme-toggle {
	background: none;
	border: none;
	font-size: 20px;
}

/* TEXT */

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

p {
	font-size: 14.5px;
	text-align: center;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: var(--secondary);
}

a:hover {
	text-decoration: underline;
}

p.error,
p.error-general {
	margin-bottom: 20px;
	text-align: left;
	color: var(--error);
}

p.error-general {
	text-align: center;
}