@import url("global.css");
@import url("form-elements.css");

@media (max-width: 800px) {
	body {
		height: fit-content;
	}

	main {
		flex-direction: column-reverse;
	}

	div.left,
	div.right {
		width: 100% !important;
		height: auto !important;
	}

	.form-box {
		margin: 0;
	}
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	padding: 0.5rem;
}

header .left{
	display: flex;
	align-items: center;
}

main {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

main section {}

div.left {
	flex: 1;
}

.table-pane {
	margin: 0.5rem;
}

div.right {
	margin-left: auto;
	margin-right: 0;
	width: 400px;
	display: flex;
	flex-direction: column;
}

.info-pane {
	margin: 0.5rem;
}

.authentication-pane {
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}