.notification-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	position: relative;
}

.notification-bell {
	position: relative;
	cursor: pointer;
	color: var(--text);
}

.notification-badge {
	display: none;
	position: absolute;
	top: -5px;
	right: -8px;
	background-color: var(--error);
	color: white;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	font-size: 0.7rem;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}

.notification-badge.show {
	display: flex;
}

.notification-dropdown {
	display: none;
	position: absolute;
	top: 150%;
	right: -20px;
	width: 350px;
	background: var(--card);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	color: var(--text);
	border-radius: 8px;
	padding: 4px 0;
	z-index: 1000;
	overflow: hidden;
	margin-left: -80px;
}

.notification-dropdown.show {
	display: block;
	-webkit-animation: fadeIn 0.3s;
	animation: fadeIn 0.3s;
}

.dropdown-header {
	padding: 1rem;
	border-bottom: 1px solid var(--cross-border);
}

.dropdown-header h3 {
	margin: 0;
	font-size: 1rem;
}

.dropdown-body {
	max-height: 350px;
	overflow-y: auto;
}

.notification-item {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-bottom: 1px solid (--cross-border);
	font-size: 0.9rem;
	color: var(--text);
	text-decoration: none;
}

.notification-item:last-child {
	border-bottom: none;
}

.notification-item:hover {
	color: var(--tertiary);
}

.notification-item.unread {
	color: greenyellow;
}

.dropdown-footer {
	padding: 0.75rem;
	text-align: center;
	border-top: 1px solid var(--cross-border);
}

.dropdown-footer a {
	font-weight: 500;
	font-size: 0.9rem;
	margin: 0;
}