/* TIME CARD */

#time {
	text-align: center;
}

#time-text {
	margin-bottom: 0;
}

/* TABLES */

td.actions {
	display: flex;
	gap: 10px;
}

.action button i {
	color: inherit;
}

.action button {
	background: none;
	padding: 0;
	color: var(--secondary);
}

.action button:hover {
	background: none;
	color: color-mix(in srgb, var(--secondary), white 30%);
	text-decoration: underline;
}

.action button.danger {
	background: none;
	color: var(--error);
}

.action button.danger:hover {
	background: none;
	color: color-mix(in srgb, var(--error), white 30%);
}

/* RECORD TABLE */

.table-container .type {
	font-weight: bold;
}

/* .table-container .actions {
	text-align: right;
} */