.table-container {
	overflow-x: auto;
	max-width: 100%;
	max-height: 70vh;
}

table {
	width: 100%;
	border: 1px solid var(--table-border);
	border-spacing: 0;
	border-radius: 10px;
	border-collapse: separate;
	text-align: center;
	font-size: 0.85rem;
	overflow: hidden;
}

tr:nth-child(even) {
	background: var(--table-even);
}

th,
td {
	text-align: left;
	padding: 7px 7px;
	white-space: nowrap;
}

th {
	font-weight: 600;
	background-color: var(--table-header);
	color: var(--header-text);
}

td {
	color: var(--text);
}

td.actions {
	display: flex;
	gap: 10px;
}

/* RECORD TABLE */

.table-container .type {
	font-weight: bold;
}

/* MONTHLY RECORDS */

.card.monthly-records .top {
	justify-content: center;
}

.card.monthly-records p {
	text-align: left;
	font-size: 16px;
}

.card.monthly-records h2 {
	text-align: center;
	padding: 0.5rem;
	border: 1px solid black;
	font-weight: bolder;
}

.monthly-records table {
	border-radius: unset;
}

.monthly-records thead tr th {
	text-align: center;
}

.monthly-records th,
.monthly-records td {
	border: 0.8px solid black;
	font-weight: 700;
	text-align: center;
}

.monthly-records .meridian {
	font-size: x-large;
	font-weight: 800;
}