h1,
h2,
h3,
h4 {
	font-weight: 500;
}

p {
	font-size: 14.5px;
	text-align: center;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: var(--secondary);
}

a:hover {
	text-decoration: underline;
}

p.success,
p.info,
p.error,
p.error-general {
	margin-bottom: 15px;
	text-align: left;
}

.modal-container#success p,
.modal-container#info p,
.modal-container#error p {
	margin-bottom: 0;
}

p.success {
	color: var(--text);
}

p.error,
p.error-general {
	color: var(--error);
}

p.error-general {
	text-align: center;
}