@import url("../_global.css");
@import url("../forms.css");

@media (max-width: 800px) {
	body {
		height: fit-content;
	}

	main {
		flex-direction: column-reverse;
	}

	main div.left,
	main div.right {
		width: 100% !important;
		height: auto !important;
	}

	header .right {
		width: fit-content;
	}

	.form-box {
		margin: 0;
	}
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	padding: 0.5rem;
}

header .left {
	display: flex;
	align-items: center;
}

main {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

main section {
	margin: 0.5rem;
}

div.left {
	flex: 1;
}

#table-pane .card {
	height: 90vh;
}

#table-pane .card .table-container {
	max-height: 90vh;
}

main div.right {
	margin-left: auto;
	margin-right: 0;
	width: 400px;
	display: flex;
	flex-direction: column;
}

#authentication-pane {
	display: flex;
	justify-content: center;
	align-items: center;
}